<div class="wrapper">
  <div [ngStyle]="imageStyle" class="mb-3 w-100 post-img"></div>
  <div class="container-fluid">
    <div class="hero-box mb-5">
      <h1>{{ post.title }}</h1>
      <div class="content" [innerHTML]="post.excerpt"></div>
      <div class="row text-muted footer">
        <div class="col">{{ post.author.name }}</div>
        <div class="col">{{ post.date | date: "medium" }}</div>
      </div>
    </div>
    <div class="content" [innerHTML]="post.content"></div>
    <div class="comments">
      <h3 class="mt-5 mb-4">Comments</h3>
      <app-comment
        *ngFor="let comment of post.comments"
        [comment]="comment"
      ></app-comment>
    </div>
  </div>
</div>
