@import "~src/assets/mixins";

.content {
  ::ng-deep img {
    @include post-width;
    display: block;
    margin: 0 auto;
  }
}

.container-post {
  @include post-width;
  margin: 0 auto;
}

.post-img {
  height: 350px;
}
