// DIMENSIONS
$navbar-height: 56px;
// BACKGROUND

// FONT
$font-small: 0.8rem;
$font-large: 1.2rem;
// COLORS
$grey: #ccc;

// Z-INDEX
$navbar-z: 10;
$backdrop-z: 20;

// BREAKPOINTS
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-l-min: 992px;
$screen-xl-min: 1200px;
