<a class="post" [routerLink]="['/post', post.slug]">
  <div class="row bg-white h-100 mx-0 py-2">
    <div class="col-12 px-0">
      <div class="card card-body border-0 py-2">
        <div [ngStyle]="imageStyle" alt="" class="img w-100"></div>
      </div>
    </div>
    <div class="col-12 px-0">
      <div class="card card-body border-0">
        <h5>{{ post.title }}</h5>
        <div class="content" [innerHTML]="post.excerpt | safeHTML"></div>
        <app-author [author]="post.author" [date]="post.date"></app-author>
      </div>
    </div>
  </div>
</a>
